<app-header titulo="Cadastro de Categorias"></app-header>

<main class="p-6">
  <div class="max-w-125 rounded-[10px] bg-(--branco) p-6 shadow-[0_6px_18px_rgba(0,0,0,0.05)]">
    <h2 class="mb-5 text-2xl font-bold text-(--turquesa-escuro)">Nova Categoria</h2>
    <form [formGroup]="form" (ngSubmit)="handleSubmit()">
      <div class="mb-1.5">
        <label class="mb-1.5 block font-medium" for="nome">Nome da Categoria: *</label>
        <input
          formControlName="nome"
          class="w-full rounded-md border border-[#ddd] p-2.5 text-[14px]"
          type="text"
          id="nome"
          name="nome"
          placeholder="Ex: Alimentação"
        />
        @if (form.controls.nome.hasError('required') && form.controls.nome.touched) {
          <span class="text-(--error)"> O nome da categoria é obrigatório </span>
        }

        @if (form.controls.nome.hasError('apiError') && form.controls.nome.touched) {
          <span class="text-(--error)">
            {{ form.get('nome')?.errors?.['apiError'] }}
          </span>
        }
      </div>

      <div class="mt-5 flex gap-2.5">
        <button
          class="cursor-pointer rounded-md border-0 bg-(--turquesa) px-5 py-2.5 font-semibold text-(--branco) transition-colors duration-200 hover:bg-(--turquesa-escuro)"
          type="submit"
        >
          Salvar
        </button>
        <button
          class="cursor-pointer rounded-md border-0 bg-(--amarelo) px-5 py-2.5 font-semibold text-[#333] transition-opacity duration-200 hover:opacity-80"
          type="button"
          routerLink="/paginas/listagem-categorias"
        >
          Cancelar
        </button>
      </div>
    </form>
  </div>
</main>
