@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import 'tailwindcss';

:root {
  --turquesa: #1abc9c;
  --turquesa-escuro: #16a085;
  --amarelo: #f1c40f;
  --cinza-claro: #f4f6f8;
  --cinza-texto: #555;
  --branco: #ffffff;
}

* {
  font-family: 'Inter', sans-serif;
}

html, body {
  background-color: var(--cinza-claro);
  color: var(--cinza-texto);
  height: 100%;
}
